* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.agregar-carrito {
    background-color: #303030;
    color: white;
}
.card {
    margin: 1rem;
    max-width: 20rem;
}
.swal2-styled.swal2-confirm {
    background-color: #303030 !important;
    box-shadow: none !important;
}
.productos {
    display: flex;
}